#tags {
  width: 200px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 10px;
}

#tags:focus {
  outline: 0;
  border: 2px solid #109cdf;
}

#row {
  background-color: rgb(234, 17, 17);
}

body {
  background-image: url("space-image\ copy.jpeg");
}

#back-button {
  color: #fff;
  font-size: 2rem;
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  left: 2rem;
  background-color: rgb(46, 6, 67);
  border-radius: 5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 5rem;
}

#back-button:hover {
  background-color: rgb(66, 26, 87);
}

#help-button {
  color: #fff;
  font-size: 2rem;
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  background-color: rgb(46, 6, 67);
  border-radius: 5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 5rem;
}

#help-button:hover {
  background-color: rgb(66, 26, 87);
}

#about-info {
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(102, 67, 184);
}
