#tags {

    width:200px;
    height:30px;
    border: 2px solid grey;
    border-radius: 10px;
  }
  
  #tags:focus {
       outline: 0;
       border: 2px solid #109cdf;
  }

  #row {
     background-color: rgb(234, 17, 17);
  }